.tituloPagina{
    color: black;
    font-size: 3rem;
    text-align:left;
    border-style:none;
    display: block;
    justify-content: flex-start;
    background-color: rgb(86, 207, 167);
    font-weight: bolder;
    padding-left: 1%;
    height: 70px;
}